.question {

  margin: 40px 0;

  .choice {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
    width: 100%;
    max-width: 1200px;

    div {

      width: 30%;
      display: flex;
      justify-content: center;
      align-items: center;
      max-width: 200px;
      position: relative;

    }

  }

}

.question-1 {

  margin-bottom: 220px;

  .choice {

    div {

      img[data-choice="1"],img[data-choice="2"] {
        cursor:pointer;
        transition: all 0.7s;
        position: absolute;

        &.remove {
          transform: scale(0);
          opacity: 0;
        }

      }

    }

  }

}

.question-2 {

  img {
    width: 1100px;
  }

  .choice {

    div {

      button {
        font-size: 35px;
        color: $white;
        font-family: 'Oswald';

      }

    }

  }

}

.question-3 {

  > p {

    color: $white;
    font-family: 'Open Sans';
    text-align: center;
    font-size: 25px;
    line-height: 34px;
    margin: 0 0 30px 0;

    &.small {
      font-size: 12px;
      line-height: 16px;
    }

  }

  .choice {

    div {

      max-width: 140px;
      cursor: pointer;
      flex-direction: column;
      text-align: center;
      color: $white;
      transition: color 0.3s $easeInOutExpo, transform 0.8s $easeInOutExpo, opacity 0.8s $easeInOutExpo;
      transform: translateX(200%);
      opacity: 0;

      &.appear {
        transform: translateX(0);
        opacity: 1;
      }

      svg {
        fill: $white;
        transition: fill 0.3s $easeInOutExpo, transform 0.8s $easeInOutExpo, opacity 0.8s $easeInOutExpo;
      }

      &:hover, &.active {
        color: $green;

        svg {
          fill:$green;
        }
      }

      p {
        font-size: 25px;
        line-height: 39px;
        font-family: 'Oswald';
      }

    }

  }

}

.question-4 {

  > p {

    color: $white;
    font-family: 'Open Sans';
    text-align: center;
    font-size: 25px;
    line-height: 34px;
    margin: 0 0 30px 0;

    &.small {
      font-size: 12px;
      line-height: 16px;
    }

  }

  .choice {

    position: relative;

    div {

      max-width: 200px;
      flex-direction: column;
      text-align: center;
      color: $white;
      transition: color 0.3s $easeInOutExpo, transform 0.8s $easeInOutExpo, opacity 0.8s $easeInOutExpo;
      transform: translateX(200%);
      opacity: 0;
      position: relative;

      select {
        position: absolute;
        right: 30px;
        top: 110px;
        border: none;
        appearance:none;
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        outline: none;
        font-size: 18px;
        color: $white;
        font-family: 'Oswald';
        overflow: hidden;
        cursor: pointer;

        &[data-choice="1"] {
          background: $red;
        }

        &[data-choice="2"] {
          background: $yellow;
        }

        &[data-choice="3"] {
          background: $blue;
        }

        &[data-choice="4"] {
          background: $purple;
        }

      }

      &.appear {
        transform: translateX(0);
        opacity: 1;
      }

      img {
        max-width: 140px;
      }

      p {
        font-size: 25px;
        // line-height: 39px;
        font-family: 'Oswald';
        margin-bottom: 5px;
      }

      &.submit {
        position: absolute;
        right: -140px;
        top: 100px;
        margin: auto;
        justify-content: center;
        align-items: center;

        button {

          background: none;
          font-size: 25px;
          color: $white;
          border: none;
          font-family: 'Oswald';
          position: relative;
          display: inline-block;
          padding: 3px 6px;
          z-index: 2;
          transform: rotate(90deg);
          cursor: pointer;


          &:before {
            border-bottom: 40px solid $green;
            position: absolute;
            width: 100%;
            bottom: 0;
            left: 0;
            content:"";
            display: block;
            z-index: -1;
            animation: draw 4s infinite $easeInOutExpo;

            @keyframes draw {
              0% { width:0; }
              50% { width:100%; }
              100% { width:0; }
            }

          }

        }

      }

    }

  }

}


.question-5 {

  > p {

    font-family: 'Open Sans';
    text-align: center;
    font-size: 35px;
    line-height: 34px;
    margin: 0 0 30px 0;
    color:$green;

    &.small {
      font-size: 12px;
      line-height: 16px;
      color: $white;
      max-width: 400px;
    }

  }

  .choice {
    max-width: 500px;

    div {

      max-width: 140px;
      cursor: pointer;
      flex-direction: column;
      text-align: center;
      color: $white;
      transition: color 0.3s $easeInOutExpo, transform 0.8s $easeInOutExpo, opacity 0.8s $easeInOutExpo;
      transform: translateX(200%);
      opacity: 0;

      &.appear {
        transform: translateX(0);
        opacity: 1;
      }

      svg {
        fill: $white;
        transition: fill 0.3s $easeInOutExpo, transform 0.8s $easeInOutExpo, opacity 0.8s $easeInOutExpo;
      }

      &:hover, &.active {
        color: $green;

        svg {
          fill:$green;
        }
      }

      p {
        font-size: 25px;
        line-height: 39px;
        font-family: 'Oswald';
      }

    }

  }


}
