.container {
  width: 100vw;
  overflow: hidden !important;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  background-image: url("../../img/bg_1x.jpg");
  background-size: cover; }
  .container > div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 100%; }

* {
  box-sizing: border-box;
  max-width: 100%;
  outline: none; }

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif; }

a {
  text-decoration: none;
  color: #f2cc66;
  border-radius: 6px;
  border: 1px solid #f2cc66;
  padding: 6px 8px;
  transition: all 0.5s cubic-bezier(1, 0, 0, 1); }
  a:hover {
    background-color: #f2cc66;
    color: #2daabf; }

h1 {
  color: #51f2b0;
  font-size: 60px;
  letter-spacing: 4.2px;
  font-family: 'Oswald';
  width: 500px;
  text-align: center; }

h2 {
  font-family: 'Oswald';
  color: #51f2b0;
  text-align: center;
  font-size: 50px;
  letter-spacing: 3px;
  width: 700px; }
  h2 span {
    display: block;
    font-size: 35px; }

.step {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  width: 100%;
  transition: opacity 1s, transform 1s; }
  .step.invisible {
    opacity: 0.3 !important;
    transform: scale(0.7) !important; }

.track-visibility {
  opacity: 1 !important;
  transform: scale(1) !important;
  transition: opacity 1s, transform 1s; }
  .track-visibility.invisible {
    opacity: 0.3 !important;
    transform: scale(0.7) !important; }

.fullscreen {
  min-height: 100vh; }

.white, h2 span, .presentation p {
  color: #ffffff; }

.btn-anim {
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  position: relative;
  transition: all 0.7s cubic-bezier(1, 0, 0, 1);
  background: none;
  border: none;
  padding: 0;
  padding-bottom: 5px; }
  .btn-anim.active::before {
    width: calc(100% + 40px); }
  .btn-anim:hover::before {
    animation: draw 0.5s forwards; }
@keyframes draw {
  from {
    width: 0; }
  to {
    width: calc(100% + 40px); } }
  .btn-anim::before {
    content: " ";
    display: block;
    position: absolute;
    bottom: 50%;
    width: 0%;
    left: -20px;
    margin: 0 auto;
    transition: all 0.7s cubic-bezier(1, 0, 0, 1); }

.tracker {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.presentation div {
  position: relative;
  padding: 0 200px; }
  .presentation div svg {
    position: absolute;
    transform: scale(0);
    transition: transform 0.5s cubic-bezier(1, 0, 0, 1); }
    .presentation div svg.animated {
      transform: scale(1); }
    .presentation div svg.circle {
      top: 5px;
      left: 20px;
      width: 51px; }
    .presentation div svg.triangle-1 {
      top: 100px;
      right: 20px;
      width: 48px;
      transform: scale(0) rotate(-130deg);
      fill: #f2cc66 !important; }
      .presentation div svg.triangle-1.animated {
        transform: scale(1) rotate(-130deg); }
    .presentation div svg.alien {
      left: 0;
      width: 95px; }
    .presentation div svg.ghost {
      right: 0;
      top: 0;
      bottom: 0;
      margin-top: auto;
      margin-bottom: auto;
      width: 77px; }
    .presentation div svg.triangle-2 {
      bottom: -100px;
      left: 100px;
      width: 50px; }
    .presentation div svg.carre {
      right: 80px;
      bottom: -50px; }
.presentation p {
  font-size: 14px;
  width: 600px;
  text-align: center;
  line-height: 26px;
  letter-spacing: 1px;
  font-family: 'Open Sans'; }

.question {
  margin: 40px 0; }
  .question .choice {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
    width: 100%;
    max-width: 1200px; }
    .question .choice div {
      width: 30%;
      display: flex;
      justify-content: center;
      align-items: center;
      max-width: 200px;
      position: relative; }

.question-1 {
  margin-bottom: 220px; }
  .question-1 .choice div img[data-choice="1"], .question-1 .choice div img[data-choice="2"] {
    cursor: pointer;
    transition: all 0.7s;
    position: absolute; }
    .question-1 .choice div img[data-choice="1"].remove, .question-1 .choice div img[data-choice="2"].remove {
      transform: scale(0);
      opacity: 0; }

.question-2 img {
  width: 1100px; }
.question-2 .choice div button {
  font-size: 35px;
  color: #ffffff;
  font-family: 'Oswald'; }

.question-3 > p {
  color: #ffffff;
  font-family: 'Open Sans';
  text-align: center;
  font-size: 25px;
  line-height: 34px;
  margin: 0 0 30px 0; }
  .question-3 > p.small {
    font-size: 12px;
    line-height: 16px; }
.question-3 .choice div {
  max-width: 140px;
  cursor: pointer;
  flex-direction: column;
  text-align: center;
  color: #ffffff;
  transition: color 0.3s cubic-bezier(1, 0, 0, 1), transform 0.8s cubic-bezier(1, 0, 0, 1), opacity 0.8s cubic-bezier(1, 0, 0, 1);
  transform: translateX(200%);
  opacity: 0; }
  .question-3 .choice div.appear {
    transform: translateX(0);
    opacity: 1; }
  .question-3 .choice div svg {
    fill: #ffffff;
    transition: fill 0.3s cubic-bezier(1, 0, 0, 1), transform 0.8s cubic-bezier(1, 0, 0, 1), opacity 0.8s cubic-bezier(1, 0, 0, 1); }
  .question-3 .choice div:hover, .question-3 .choice div.active {
    color: #51f2b0; }
    .question-3 .choice div:hover svg, .question-3 .choice div.active svg {
      fill: #51f2b0; }
  .question-3 .choice div p {
    font-size: 25px;
    line-height: 39px;
    font-family: 'Oswald'; }

.question-4 > p {
  color: #ffffff;
  font-family: 'Open Sans';
  text-align: center;
  font-size: 25px;
  line-height: 34px;
  margin: 0 0 30px 0; }
  .question-4 > p.small {
    font-size: 12px;
    line-height: 16px; }
.question-4 .choice {
  position: relative; }
  .question-4 .choice div {
    max-width: 200px;
    flex-direction: column;
    text-align: center;
    color: #ffffff;
    transition: color 0.3s cubic-bezier(1, 0, 0, 1), transform 0.8s cubic-bezier(1, 0, 0, 1), opacity 0.8s cubic-bezier(1, 0, 0, 1);
    transform: translateX(200%);
    opacity: 0;
    position: relative; }
    .question-4 .choice div select {
      position: absolute;
      right: 30px;
      top: 110px;
      border: none;
      appearance: none;
      width: 40px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      outline: none;
      font-size: 18px;
      color: #ffffff;
      font-family: 'Oswald';
      overflow: hidden; }
      .question-4 .choice div select[data-choice="1"] {
        background: #e65a5a; }
      .question-4 .choice div select[data-choice="2"] {
        background: #f2cc66; }
      .question-4 .choice div select[data-choice="3"] {
        background: #2daabf; }
      .question-4 .choice div select[data-choice="4"] {
        background: #a654e5; }
    .question-4 .choice div.appear {
      transform: translateX(0);
      opacity: 1; }
    .question-4 .choice div img {
      max-width: 140px; }
    .question-4 .choice div p {
      font-size: 25px;
      font-family: 'Oswald';
      margin-bottom: 5px; }
    .question-4 .choice div.submit {
      position: absolute;
      right: -140px;
      top: 100px;
      margin: auto;
      justify-content: center;
      align-items: center; }
      .question-4 .choice div.submit button {
        background: none;
        font-size: 25px;
        color: #ffffff;
        border: none;
        font-family: 'Oswald';
        position: relative;
        display: inline-block;
        padding: 3px 6px;
        z-index: 2;
        transform: rotate(90deg);
        cursor: pointer; }
        .question-4 .choice div.submit button:before {
          border-bottom: 40px solid #51f2b0;
          position: absolute;
          width: 100%;
          bottom: 0;
          left: 0;
          content: "";
          display: block;
          z-index: -1;
          animation: draw 4s infinite cubic-bezier(1, 0, 0, 1); }
@keyframes draw {
  0% {
    width: 0; }
  50% {
    width: 100%; }
  100% {
    width: 0; } }
.answer-1 {
  transform: scale(0);
  opacity: 0;
  transition: all 1s cubic-bezier(1, 0, 0, 1); }
  .answer-1.appear {
    transform: scale(1);
    opacity: 1; }
  .answer-1 p {
    font-size: 50px;
    text-align: center;
    font-family: 'Oswald';
    line-height: 70px;
    letter-spacing: 3px;
    margin: 2px 0; }
    .answer-1 p.go {
      color: #51f2b0; }

.answer-2 .content-1 {
  width: 100%;
  max-width: 700px;
  padding: 20px;
  position: relative;
  margin-bottom: 100px; }
  .answer-2 .content-1 img {
    position: absolute;
    opacity: 0;
    transition: all 0.9s cubic-bezier(0.95, 0.05, 0.795, 0.035); }
    .answer-2 .content-1 img.triangle {
      width: 50px;
      top: 0;
      left: 0;
      transform: translate(150px, 150px); }
    .answer-2 .content-1 img.croix {
      width: 53px;
      bottom: 0;
      right: 0;
      transform: translate(-150px, -150px); }
    .answer-2 .content-1 img.appear {
      transform: translate(0, 0);
      opacity: 1; }
  .answer-2 .content-1 .answer-text {
    font-size: 70px;
    text-align: center;
    letter-spacing: 4.2px;
    font-family: 'Oswald';
    transform: scale(0);
    opacity: 0;
    transition: all 0.8s cubic-bezier(0.95, 0.05, 0.795, 0.035); }
    .answer-2 .content-1 .answer-text.appear {
      transform: scale(1);
      opacity: 1; }
    .answer-2 .content-1 .answer-text.answer-false {
      color: #e65a5a; }
    .answer-2 .content-1 .answer-text.answer-true {
      color: #51f2b0; }
.answer-2 .good-answer {
  margin-bottom: 60px;
  opacity: 0;
  transition: opacity 1s, transform 1s; }
  .answer-2 .good-answer.appear {
    opacity: 1; }
  .answer-2 .good-answer p {
    text-align: center;
    font-family: 'Oswald';
    margin: 2px 0; }
    .answer-2 .good-answer p:nth-child(1) {
      color: #ffffff;
      font-size: 25px;
      line-height: 50px; }
    .answer-2 .good-answer p:nth-child(2) {
      color: #51f2b0;
      font-size: 50px;
      line-height: 80px;
      letter-spacing: 3px; }
    .answer-2 .good-answer p:nth-child(3) {
      color: #51f2b0;
      font-size: 70px;
      line-height: 50px; }
.answer-2 .content-2 {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 900px;
  transition: opacity 1s, transform 1s; }
  .answer-2 .content-2 div {
    width: 40%; }
    .answer-2 .content-2 div p {
      color: #ffffff;
      font-family: 'Open Sans';
      font-size: 16px;
      line-height: 28px; }
      .answer-2 .content-2 div p span {
        color: #51f2b0; }
.answer-2 > .tracker > p {
  color: #51f2b0;
  margin-top: 80px;
  font-family: 'Oswald';
  font-size: 50px;
  line-height: 56px;
  margin-bottom: 0;
  transition: opacity 1s, transform 1s; }
.answer-2 .content-3 {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 700px;
  margin: 50px 0; }
  .answer-2 .content-3.large {
    max-width: 1200px; }
    .answer-2 .content-3.large > div:nth-child(1) {
      display: flex; }
    .answer-2 .content-3.large > div > div:nth-child(1) {
      margin: 0 10px 0 0; }
    .answer-2 .content-3.large > div > div:nth-child(2) {
      margin: 0 0 0 10px; }
  .answer-2 .content-3 div {
    width: 50%;
    margin: 0 50px; }
    .answer-2 .content-3 div svg, .answer-2 .content-3 div img {
      width: calc(100% / 7);
      opacity: 0;
      transition: opacity 0.3s cubic-bezier(0.95, 0.05, 0.795, 0.035); }
      .answer-2 .content-3 div svg.animation, .answer-2 .content-3 div img.animation {
        opacity: 1; }
        .answer-2 .content-3 div svg.animation.mute, .answer-2 .content-3 div img.animation.mute {
          opacity: .1; }
    .answer-2 .content-3 div p {
      margin: 2px 0; }
      .answer-2 .content-3 div p:nth-child(1) {
        color: #51f2b0;
        font-family: 'Oswald';
        font-size: 70px;
        line-height: 100px; }
      .answer-2 .content-3 div p:nth-child(2) {
        color: #ffffff;
        font-family: 'Oswald';
        font-size: 25px;
        line-height: 40px; }

.answer-3 .content-1 {
  width: 100%;
  max-width: 700px;
  padding: 20px;
  position: relative;
  margin-bottom: 100px; }
  .answer-3 .content-1 svg {
    position: absolute;
    opacity: 0;
    transition: all 0.9s cubic-bezier(0.95, 0.05, 0.795, 0.035); }
    .answer-3 .content-1 svg.cercle {
      width: 50px;
      top: 70px;
      left: 0;
      transform: translate(150px, 150px);
      fill: #f2cc66 !important; }
    .answer-3 .content-1 svg.carre {
      width: 53px;
      top: 0;
      right: 0;
      transform: translate(-150px, 150px); }
    .answer-3 .content-1 svg.appear {
      transform: translate(0, 0);
      opacity: 1; }
  .answer-3 .content-1 .answer-text {
    font-size: 70px;
    text-align: center;
    letter-spacing: 4.2px;
    font-family: 'Oswald';
    transform: scale(0);
    opacity: 0;
    transition: all 0.8s cubic-bezier(0.95, 0.05, 0.795, 0.035); }
    .answer-3 .content-1 .answer-text.appear {
      transform: scale(1);
      opacity: 1; }
    .answer-3 .content-1 .answer-text.answer-false {
      color: #e65a5a; }
    .answer-3 .content-1 .answer-text.answer-true {
      color: #51f2b0; }
.answer-3 .answer-explication {
  margin-bottom: 60px;
  opacity: 0;
  transition: opacity 1s, transform 1s; }
  .answer-3 .answer-explication.appear {
    opacity: 1; }
  .answer-3 .answer-explication p {
    text-align: center;
    font-family: 'Oswald';
    margin: 2px 0; }
    .answer-3 .answer-explication p:nth-child(2) {
      color: #ffffff;
      font-size: 25px;
      line-height: 50px; }
    .answer-3 .answer-explication p:nth-child(1) {
      color: #51f2b0;
      font-size: 50px;
      line-height: 80px;
      letter-spacing: 3px; }
.answer-3 > .tracker > p {
  margin-top: 80px;
  font-family: 'Oswald';
  color: #ffffff;
  font-size: 25px;
  line-height: 50px;
  margin-bottom: 0;
  transition: opacity 1s, transform 1s; }
.answer-3 .content-2 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 1100px; }
  @media (max-width: 1024px) {
    .answer-3 .content-2 {
      justify-content: center; } }
  .answer-3 .content-2 div {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; }
    .answer-3 .content-2 div span {
      position: absolute;
      top: auto;
      bottom: auto;
      left: auto;
      right: auto;
      margin: auto; }
  .answer-3 .content-2 span {
    font-family: 'Oswald';
    color: #ffffff;
    font-size: 25px;
    line-height: 50px; }
  .answer-3 .content-2 p {
    margin: 30px;
    font-family: 'Oswald';
    color: #ffffff;
    font-size: 25px; }

.answer-4 .answer-explication {
  margin-bottom: 60px;
  opacity: 0;
  transition: opacity 1s, transform 1s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .answer-4 .answer-explication.appear {
    opacity: 1; }
  .answer-4 .answer-explication p {
    text-align: center;
    font-family: 'Oswald';
    margin: 2px 0; }
    .answer-4 .answer-explication p:nth-child(2) {
      color: #ffffff;
      font-size: 16px;
      width: 400px; }
    .answer-4 .answer-explication p:nth-child(1) {
      color: #51f2b0;
      font-size: 35px;
      letter-spacing: 3px;
      line-height: 80px; }
.answer-4 .players {
  display: flex;
  justify-content: space-around;
  width: 700px;
  align-items: center;
  margin-top: 80px; }
  .answer-4 .players div {
    position: relative;
    max-width: 100px;
    cursor: pointer; }
    .answer-4 .players div.active img {
      border-radius: 50%;
      border: 2px solid #51f2b0; }
    .answer-4 .players div select {
      position: absolute;
      right: -10px;
      bottom: 0;
      border: none;
      appearance: none;
      width: 40px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      outline: none;
      font-size: 18px;
      color: #ffffff;
      font-family: 'Oswald';
      overflow: hidden; }
      .answer-4 .players div select[data-choice="1"] {
        background: #e65a5a; }
      .answer-4 .players div select[data-choice="2"] {
        background: #f2cc66; }
      .answer-4 .players div select[data-choice="3"] {
        background: #2daabf; }
      .answer-4 .players div select[data-choice="4"] {
        background: #a654e5; }
.answer-4 .player {
  display: flex;
  justify-content: space-between;
  width: 850px;
  margin-top: 100px; }
  .answer-4 .player div {
    position: relative;
    width: 48%; }
    .answer-4 .player div.picture-container {
      text-align: center; }
      .answer-4 .player div.picture-container img {
        border: 2px solid #51f2b0;
        border-radius: 50%; }
      .answer-4 .player div.picture-container select {
        position: absolute;
        right: 27%;
        top: 160px;
        border: none;
        appearance: none;
        width: 60px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        outline: none;
        font-size: 26px;
        color: #ffffff;
        font-family: 'Oswald';
        overflow: hidden; }
        .answer-4 .player div.picture-container select[data-choice="1"] {
          background: #e65a5a; }
        .answer-4 .player div.picture-container select[data-choice="2"] {
          background: #f2cc66; }
        .answer-4 .player div.picture-container select[data-choice="3"] {
          background: #2daabf; }
        .answer-4 .player div.picture-container select[data-choice="4"] {
          background: #a654e5; }
    .answer-4 .player div p {
      text-align: left; }
      .answer-4 .player div p:nth-child(2) {
        color: #51f2b0;
        font-size: 30px;
        letter-spacing: 3px;
        margin: 6px 0 15px 0; }
      .answer-4 .player div p:nth-child(1) {
        color: #ffffff;
        font-size: 50px;
        letter-spacing: 3px;
        line-height: 50px; }
      .answer-4 .player div p:nth-child(3) {
        color: #ffffff;
        font-size: 14px;
        font-family: 'Open Sans'; }

.player-1 .btn-anim:hover::before {
  border-bottom: solid 4px #f2cc66; }
.player-1 .btn-anim::before {
  border-bottom: solid 4px #f2cc66; }
.player-1.answer-1 .player {
  color: #f2cc66; }

.player-2 .btn-anim:hover::before {
  border-bottom: solid 4px #2daabf; }
.player-2 .btn-anim::before {
  border-bottom: solid 4px #2daabf; }
.player-2.answer-1 .player {
  color: #2daabf; }

/*# sourceMappingURL=index.css.map */
